.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  position: absolute;
  top: 2%;
  left: 2%;
}

.App-header {
  background-color: #03116d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.825rem + 2vmin);
  color: #ff0051;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  margin-top: 2%;
}

.table-button {
  margin-bottom: 2%;
  padding: 2% 4%;
  background-color: #ff0051;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: 1.5rem;
}

.table-button:hover {
  background-color: #ff337a;
  transform: translateY(-0.3rem);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.menu-table {
  border-collapse: collapse;
  width: 75%;
}

.menu-table th, .menu-table td {
  border: 0.1rem solid #fff;
  padding: 1.5%;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.menu-table th {
  background-color: #ff0051;
}

.menu-table td {
  background-color: #03116d;
}

@media (max-width: 768px) {
  .App-header {
    font-size: calc(10px + 3vmin);
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
    margin-top: 5%;
  }

  .table-button {
    padding: 12px 25px;
    font-size: 18px;
  }

  .menu-table {
    width: 100%;
  }

  .menu-table th, .menu-table td {
    padding: 4px;
    font-size: 12px;
  }
}

